*{
   
    border: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --primary-color: #000000;
    --secondary-color: #ffffff;

}


.display-area{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}


    /*//////Header Area/////*/

    header{
        
        
        background-color: var(--primary-color);
        height: 400px;
        width: 100vw;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
    }

    .header-container{
        

        z-index: 10;
        max-width: 1000px;
        max-height: 300px;
        

        display: flex;
        flex-direction: row;
        margin:  1vh 2vh;
    }



    /* Header Image Area */
    .header-image-area{
    
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        min-height: 250px;

    }

    .black-gradient{
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    .black-gradient::after{
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%);
        margin-top: -150px;
        height: 150px;
        width: 100%;
        content: '';
    }

    .header-image-area > h1{
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        margin: 3vh;
        z-index: 60;
        text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        
    }
    .small-head-text{
        display: none;
    }

    .small-text{
       
        
    } 
    .header-image-area > img{

        
        height: 100%;
        width:  100%;
        object-fit:cover;
        object-position: center;
        z-index: 30;
    }

    /* Header Text Area */
    .header-text-area{
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 1vw;
        justify-content: space-between;
    }

    .header-text > h2{
        padding-bottom: 1vh;
    }

    .small-text{
        display: none;
    }
    .big-text{
        padding-bottom: 1vh;

    }

    /* Header Socials Area */
    .header-socials-tray{

        display: flex;
        flex-direction: row-reverse;
        padding-top: 5vh;
        
    }

    .social-svg {
        
        width: 30px;
        height: 30px;
        margin-left: 1vw;

    }
    .social-svg svg{
    
        width: 100%;
        height: 100%;
        

    }

    @media (max-width: 580px) {
        .header-image-area{
            transform: translateY(90px);

           
        }

        .header-image-area > h1{
            transform: translateY(-245px);
        }

        .black-gradient{
            display: none;
        }
    }

    @media (max-width: 400px){
        .small-head-text{
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: rgba(255, 255, 255, 0);
            color: white;
            margin: 3vh;
            z-index: 60;
            text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transform: translateY(-255px);
            padding-bottom: 2vh;
        }


        .small-text{
            display: block;
        }

        .big-text{
           display: none;
    
        }

        .header-image-area > h1{
            display: none;
        }
    }

/*//////Showcase Area/////*/


.work-showcase-container{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 1vh;
}

.my-work-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin: 1vh 0;
}

.work-cards-container{
    display: grid;
    gap: 1rem;
    margin: 0 auto;
}

@media (min-width: 660px) {
    .work-cards-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 960px) {
    .work-cards-container{
        grid-template-columns: repeat(3,1fr);
    }
}


/*Individual Work Card */
.work-card{

   height: fit-content;
   max-width: 350px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.work-card-img{
    display: block;
    width: 100%;
    max-height: 250px;
    margin: 0%;
    object-fit: cover;
}

.work-card-text-area{
    background-color: white;
    padding: 1vh ;
}

.work-card-text-area-head{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;


}

.work-card-text-area-head > h4{
    flex: 0.75;
    padding-left: 0.5vw;
    background-color: rgb(255, 255, 255);
}

.work-link-imgs{
    flex: 0.25;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(255, 255, 255);
  
}

.work-link{
    width: 20px;
    height: 20px;
    margin-left: 1vw;
}
.work-link svg{
    width: 100%;
    height: 100%;
    color: black;
    
}

.work-card-text-area > p{
    background-color: rgb(255, 255, 255);
    margin-top: 1vh;
    padding: 0.5vw;
}

/*//////Footer Area/////*/

footer{
    width: 100vw;

    margin-top: 3vh;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-container{
    padding: 90px 1vw 0 1vw;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    
}

.footer-text-area{
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 2vh 2vw;
    color: white;
    

}

.footer-text-area > p{
    padding-top: 1vh;
}

/* Footer Phone */

.footer-phone-info{
    display: flex;
    flex-direction: row;

    margin: 1vh 0;
}

.footer-phone-info > svg{

    height: 25px;
    width: 30px;
    

}

.footer-phone-info > p{
    margin-left: 1vw;
}

/* Footer Email */

.footer-email-info{
    display: flex;
    flex-direction: row;

    margin: 1vh 0;
}

.footer-email-info > svg{

    height: 25px;
    width: 30px;
    
}

.footer-email-info > p{
    margin-left: 1vw;
}

/* Footer Image */

.footer-image-area{
    flex: 1.5;
    height: 100%;
    padding: 2vw;
}

.footer-image-area > img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 550px) {
    .footer-image-area{
        display: none;
        
    }
    .footer-text-area{
        padding: 3vw;
    }

    .footer-socials-tray{
        justify-content: center;
    }

}

/* Footer Socials */

.footer-socials-tray{
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
}

.footer-socials-tray .social-svg{
    margin: 0 2vw 0 0;
    background-color: #ffffff00;
}
